[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.32.3"
python-dotenv = "==1.0.1"
black = "==24.10.0"
pytest = "==8.3.3"
pytest-mock = "==3.14.0"
pre-commit = "==4.0.1"
flask-jsonrpc = "==3.0.1"
flask = {extras = ["async"], version = "==3.1.0"}
flask-socketio = "==5.4.1"
flask-cors = "==5.0.0"
psycopg2-binary = ">=2.9.9"
asgiref = "==3.8.1"
pydantic = "==2.9.2"
numpy = "==1.26.4"
pytest-asyncio = "==0.24.0"
colorama = "==0.4.6"
debugpy = "==1.8.8"
aiohttp = "==3.11.0"
sqlalchemy = {extras = ["asyncio"], version = "==2.0.36"}
alembic = "==1.14.0"
eth-account = "==0.13.4"
eth-utils = "==5.1.0"
flask-sqlalchemy = "==3.1.1"
jsf = "==0.11.2"
jsonschema = "==4.23.0"
loguru = "==0.7.2"
web3 = "==7.5.0"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.6"
